---
layout: default
---

<div class="home">

  <ul class="posts">
    {% for post in site.posts limit:1 %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <div class="latest-post-content">{{ post.content }}</div>
      </li>
    {% endfor %}
    {% for post in site.posts offset:1 %}
      <li>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

</div>
