.page-content {
  padding: 30px 0;
  background-color: #fff;
}

.home h1 {
  margin-bottom: 25px;
}

.posts {
  list-style-type: none;
  li {
    margin-bottom: 30px;
  }
  .post-link {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 1;
  }
  .post-date {
    display: block;
    font-size: 15px;
    color: #818181;
  }

  .bt-video-container {
    iframe, object, embed {
      width:300px;
      height:200px;
    }
  }
}

.latest-post-content, .slick-list {
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
